default: &default
  adapter: postgresql
  encoding: utf8
  username: postgres
  password:
  host: localhost

development:
  <<: *default
  database: overflow_develop

test:
  <<: *default
  database: overflow_test

production:
  <<: *default
  database: overflow
